@import '../../basic.scss';

.task-card-confirmation {
  width: 180px;
  height: 180px;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 20px;

  @include flex-column();
  justify-content: space-between;

  background-color: #FFE8DB;
  box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.task-card-confirmation__header {
  @include flex-row();
  justify-content: flex-end;
  align-items: center;
}

.confirmation-header {}

.confirmation-header__text {

}

.task-card-confirmation__body {
  @include flex-row();
  justify-content: space-around;
}

.task-card-confirmation__reject {
  @include flex-column();
  align-items: center;
  justify-content: space-between;
  flex: 1 0 75px;

  &:hover {
    .reject-task-complete__img {
      background-image: url(../../icons/close_task_hover.svg);
    }
    .reject-task-complete__text {
      font-weight: 500;
      color: #000000;
    }
  }
}

.reject-task-complete {}

.reject-task-complete__contour {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  padding: 10px 7px;
}

.reject-task-complete__img {
  width: 25px;
  height: 25px;
  background-image: url(../../icons/close_task.svg);
  background-repeat: no-repeat;
}

.reject-task-complete__text {
  font-size: 0.8em;
  color: #555555;
  font-weight: 300;
}

.task-card-confirmation__accept {
  @include flex-column();
  align-items: center;
  justify-content: space-between;
  flex: 1 0 55px;

  &:hover {
    .accept-task-complete__contour {
      border: 1px solid #FF8933;
    }
    .accept-task-complete__text {
      font-weight: 500;
    }
  }
}

.accept-task-complete {}

.accept-task-complete__contour {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  padding: 10px 7px;
  border: 1px dashed #FF8933;
  border-radius: 50%;
}

.accept-task-complete__img {
  position: relative;
  width: 25px;
  height: 20px;

  background-image: url(../../icons/done_task.svg);
  background-repeat: no-repeat;
}

.accept-task-complete__text {
  font-size: 0.8em;
  color: #FF8933;
  font-weight: 300;
}

.task-card-complete {
  width: 180px;
  height: 180px;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 20px;

  @include flex-column();
  justify-content: space-between;

  background-color: #FFE8DB;
  box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.task-card-complete__done {
  @include flex-row();
  justify-content: center;
}

.task-card-complete__contour {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
  padding: 10px 7px;
  border: 1px dashed #FF8933;
  border-radius: 50%;
}

.task-card-complete__img {
  position: relative;
  top: 15px;
  left: 5px;
  width: 60px;
  height: 46px;

  background-image: url(../../icons/done_task.svg);
  background-repeat: no-repeat;
}

.task-card-complete__well {
  color: #FF8933;
  font-size: 1.1em;
}

.task-card-complete__reward {
  color: #555555;
  font-size: 0.9em;
}
