@import '../../basic.scss';

.tasks {
  @include flex-row();
  align-content: start;
  margin: 0 -10px;
  width: 100%;
  height: 500px;
  list-style-type: none;
  flex-wrap: wrap;
  overflow-y: auto;
}

.task-item {
  position: relative;
  height: 200px;
  margin: 0 10px;
}
