@import '../../basic.scss';

.container-user {
  @include flex-column();
  margin-bottom: 50px;
}

.user {
  @include flex-row();
  justify-content: space-between;
  width: 220px;
  height: 110px;
  padding: 10px;
  background-color: #FFE8DB;
  border-radius: 8px;
}

.user__avatar {
  @include flex-column();
  justify-content: center;
}

.user__img {
  width: 70px;
  height: 70px;
  background-image: url(../../icons/Jack.svg);
  background-size: contain;
  border-radius: 50%;
}

.user__information {
  @include flex-column();
  min-width: 120px;
}

.user__header {
  @include flex-row();
  justify-content: flex-end;
  margin-bottom: 20px;
}

.leave-user-button {
  @include flex-row();
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 20px;
  font-size: 0.7em;
  color: #555555;
  background-image: url(../../icons/exit_to_app.svg);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;

  &:hover {
    color: #000000;
    background-image: url(../../icons/exit_to_app_hover.svg);
  }

  &:active {
    color: #FF8933;
    background-image: url(../../icons/exit_to_app_active.svg);
  }
}

.user__body {
  @include flex-row();
  justify-content: space-around;
}

.user__footer {
  @include flex-column();
}

.user__text {
  @include flex-column();
  justify-content: center;
  align-items: flex-start;
}

.user__greeting {
  color: #555555;
  margin-bottom: 10px;
}

.change-password-button {
  color: #FF8933;
  font-size: 0.8em;

  &:hover {
    color: #F95D66;
  }

  &:active {
    background-color: #F95D66;
    color: #FFFFFF;
    border-radius: 2px;
  }
}

.user__footer {
  width: 220px;
  padding: 10px;
  background-color: #FFFFFF;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.user__form {}

.label-for-user-password {
  font-size: 0.85em;
}

.user-password {
  border: 1px solid #555555;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.buttons-change-password {
  @include flex-row();
  justify-content: flex-end;
  font-size: 0.9em;
}

.reject-change-password-button {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #F95D66;
  color:#F95D66;

  &:hover {
    box-shadow: 0px 10px 12px -6px #F95D66;
  }

  &:active {
    background-color: #F95D66;
    color: #FFFFFF;
  }
}

.accept-change-password-button {
  padding: 5px;
  color: #FFFFFF;
  background-color: #FF8933;

  &:hover {
    box-shadow: 0px 10px 12px -6px #FF8933;
  }

  &:active {
    background-color: #FFFFFF;
    color: #FF8933;
    border: 1px solid #FF8933;
  }
}

.child-user {
  @include flex-row();
  align-items: center;
  justify-content: space-around;
  width: 220px;
  height: 110px;
  padding: 5px;
  background-color: #FFD9DB;
  border-radius: 8px;
}

.user_lily {
  margin-bottom: 15px;
}

.child_user__avatar {
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.avatar_lily {
  background-image: url(../../icons/Lily.svg);
}

.avatar_mary {
  background-image: url(../../icons/Mary.svg);
}

.child-user__text {
  @include flex-row();
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.childs-information__coins {
  background-color: #F95D66;
  color: #FFFFFF;
  padding: 5px;
}

.change-HC-button {
  color: #F95D66;
  font-size: 0.8em;

  &:hover {
    color: #FF8933;
  }

  &:active {
    background-color: #FF8933;
    color: #FFFFFF;
    border-radius: 2px;
  }
}
