*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: 1em 'Roboto', sans-serif;
  transition: .2s ease-in-out;
}

ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

input, textarea {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  letter-spacing: 1px;
}

html, body {
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  font-size: 14px;
  line-height: 1;
  color: #373737;
  background: #f7f7f7;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
