*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: 1em 'Roboto', sans-serif;
  transition: .5s ease-in-out;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  letter-spacing: 1px;
}

html, body {
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  font-size: 14px;
  line-height: 1;
  color: #373737;
  background: #f7f7f7;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #f7f7f7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}
