@import '../style.scss';

.task-card {
  width: 180px;
  height: 180px;
  border-radius: 8px;
  margin-bottom: 15px;

  @include flex-column();
  justify-content: space-between;

  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.task-card__header {
  @include flex-row();
  justify-content: flex-end;
  align-items: center;
}

.task-card__reward {
  padding: 8px;
  border-radius: 0px 8px;
  background-color: #64060640;
  font-weight: 500;
}

.task-card__body {
  padding: 20px 15px;
  @include flex-row();
  justify-content: flex-start;
}

.task-card__description {
  font-weight: 500;
  text-align: start;
}
